# Build
coverage/
coverage.json
artifacts/
cache/
node_modules/
typechain/
@blindex/stablecoins/typings
@blindex/stablecoins/abis

# Files
package-lock.json
*.abi.json

# Others
.vscode/
.husky/
deployments/