# Build
coverage/
coverage.json
artifacts/
cache/
node_modules/
typechain/
@blindex/interfaces/types
@blindex/interfaces/abis
package/

# Files
package-lock.json
*.abi.json

# Others
.vscode/
.husky/
deployments/